.prev-arrow {
	left: 12%;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -1.375em;
	width: 2.75em;
	height: 2.75em;
	color: #ffffff;
	text-align: center;
	line-height: 2.75em;
	font-size: 1.5em;
	z-index: 1;
	transform: rotate(180deg);
}

.next-arrow{
	right: 12%;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -1.375em;
	width: 2.75em;
	height: 2.75em;
	color: #ffffff;
	text-align: center;
	line-height: 2.75em;
	font-size: 1.5em;
	z-index: 1;
}

